.about {
  width: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  gap: 25px;
  margin-bottom: 180px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__column_text {
  gap: 100px;
  margin-top: 100px;
  align-items: flex-start;
  flex: 1 0 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text-paragraph {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
